These are the rules of the game, at any prompt, you can type "rules" to see them again.
1. There are 16 rooms and you could start in any room you happen to spawn in.
2. You have the choice of going to RIGHT or UP in each room.
3. Some rooms have items in them, you can interact with them by typing the name of the item you want.
4. By typing anything besides the stuff mentioned above, you can quit the game.
5. After reaching room number 16, the game is over and you will win if you manage to defeat the boss.
